body {
  background: #0f0f12;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 50px;
  padding: 12px 20px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 350px;
  max-width: 95%;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #ff00cc, #3333ff);
  border-radius: 50px;
  z-index: -1;
  transition: opacity 0.5 ease;
  opacity: 0;
}

.navbar:hover::before {
  opacity: 0.3;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 8px;
  padding: 0px;
  margin: 0px;
}

.nav-item {
  position: relative;
}

.nav-link {
  position: relative;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-weight: 500;
  font-size: 0.85rem;
  padding: 6px 8px;
  transition: color 0.3s ease;
  z-index: 1;
  white-space: nowrap;
}

.nav-link:hover{
  color: #fff;
}

.nav-item:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background: linear-gradient(90deg, #ff00cc, #3333ff);
  transition: width 0.3s ease;
}

.nav-item:hover::before{
  width: 60%;
}

.navbar-center-icon{
  width:40px;
  height: 40px;
  background: linear-gradient(45deg, #ff00cc, #3333ff);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  flex-shrink: 0;
}

.navbar-center-icon:hover{
  transform: rotate(180deg) scale(1.1);
}

.center-icon{
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}